.clock { position: absolute; top: 0; left: 0; width: 960px; font-size: 225px; line-height: 225px; height: 225px; letter-spacing: 15px; font-family: 'geostar'; text-align: center; }
.clock-wrapper { margin-top: 150px; height: 225px; border: solid black; border-width: 5px 0; }

.colon { visibility: hidden; }
.colon.on { visibility: visible }
